{% extends 'base.html.twig' %}

{% block title %}Hello PartipantController!{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ asset('css/participant.css') }}">{% endblock style %}
{% block main %}

<div class="profil">
    <h1> Mon Profil </h1>
    <div id="contentForm">
        <div class="label">{{ form_label(participantForm.pseudo) }}</div>
        <div class="input">{{ form_widget(participantForm.pseudo) }}</div>

        <div class="label">{{ form_label(participantForm.prenom) }}</div>
        <div class="input">{{ form_widget(participantForm.prenom) }}</div>

        <div class="label">{{ form_label(participantForm.nom) }}</div>
        <div class="input">{{ form_widget(participantForm.nom) }}</div>

        <div class="label">{{ form_label(participantForm.telephone) }}</div>
        <div class="input">{{ form_widget(participantForm.telephone) }}</div>

        <div class="label">{{ form_label(participantForm.email) }}</div>
        <div class="input">{{ form_widget(participantForm.email) }}</div>

        <div class="label">{{ form_label(participantForm.password) }}</div>
        <div class="input">{{ form_widget(participantForm.password) }}</div>

        <div id="btnSave">
            <a id="btnAnnuler" href="{{ path('default_home') }}">Annuler</a>
            {{ form_widget(participantForm.create) }}
        </div>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class=" flash flash-{{ label }}">
                    {{ message }}

                </div>

            {% endfor %}
        {% endfor %}
    </div>
    {{ form(participantForm) }}


</div>
{% endblock %}
