{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock title %}
{% block style %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock style %}

{% block main %}

    {{ parent() }}
    <div class="container">
        <div>
            <div id="infoJour">
                <p id="dateProfil"><span>{{ "now"|date("d/m/Y") }}</span><i class="far fa-calendar-alt iconProfil"></i></p>
                {% if app.user %}
                <p id="userProfil"><span>{{ app.user.pseudo }}</span><i class="fas fa-user-alt iconProfil"></i></p>
                {% endif %}
            </div>
            <h4>Filtrer les sorties</h4>
            {{ form_start(formRecherche) }}
            <div id="contentFormulaire">
                <div id="colGauche">
                    <div id="campus">
                        <div id="labelCampus">{{ form_label(formRecherche.campus) }}</div>
                        <div id="inputCampus">{{ form_widget(formRecherche.campus) }}</div>
                    </div>
                    <div id="recherche">
                        <div id="inputRecherche">
                            {{ form_widget(formRecherche.search) }}<i class="fas fa-search iconRecherche"></i>
                        </div>
                    </div>

                    <br>
                    {{ form_label(formRecherche.dateUn) }}
                    {{ form_widget(formRecherche.dateUn) }}
                    {{ form_label(formRecherche.dateDeux) }}
                    {{ form_widget(formRecherche.dateDeux) }}
                </div>

                <div id="colCentre">
                    {{ form_widget(formRecherche.sortieOrganisateur) }}
                    {{ form_label(formRecherche.sortieOrganisateur) }}
                    <br><div class="espace"></div>
                    {{ form_widget(formRecherche.sortieInscrit) }}
                    {{ form_label(formRecherche.sortieInscrit) }}
                    <br><div class="espace"></div>
                    {{ form_widget(formRecherche.sortiePasInscrit) }}
                    {{ form_label(formRecherche.sortiePasInscrit) }}
                    <br><div class="espace"></div>
                    {{ form_widget(formRecherche.sortiePassees) }}
                    {{ form_label(formRecherche.sortiePassees) }}

                    {#Bouton Submit#}
                    {{ form_row(formRecherche.submit, {
                        'label': "Rechercher",
                        'attr': {'class':'boutonRechercher'}
                    }) }}
                </div>
            </div>

            {{ form_end(formRecherche) }}
        </div>
    </div>


    <div id="contentList">
        <div id="content">
            {% for sortie in sorties %}

                <div class="content-cards">
                    <div class="nom">{{ sortie.nom }}</div>
                    <div class="infos">
                        <div class="date">
                            <p><i class="far fa-calendar-alt iconDate"></i> <span class="alignement">Le {{ sortie.dateHeureDebut|date('d/m/Y') }} à {{ sortie.dateHeureDebut|date('H') }}h{{ sortie.dateHeureDebut|date('i') }}</span></p>
                        </div>
                        <div class="organisateur">
                            <p><i class="fas fa-user iconOrganisateur"></i> <span class="alignement">Organnisée par {{ sortie.organisateur.pseudo }}</span></p>
                        </div>
                        <div class="inscrits">
                            <p><i class="fas fa-users iconInscrits"></i> <span class="alignementInscrits">{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</span></p>
                        </div>
                        <div class="etat">
                            <p><i class="fas fa-cogs iconInscrits"></i> <span class="alignementEtat">{{ sortie.etat.libelle }}</span></p>
                        </div>
                    </div>

                    <div class="boutons">
                        {% if date(sortie.dateLimiteInscription) > date()
                            and sortie.etat.libelle == "Ouverte"
                            and app.user not in sortie.participants
                            and app.user.id != sortie.organisateur.id
                        %}
                                <a href="{{ path('sortie_inscription', {id: sortie.id}) }}"><i class="fas fa-user-plus iconInscrire"></i> <span class="alignementBoutons">S'inscrire</span></a>
                        {% endif %}
                        {% if app.user in sortie.participants
                            and app.user.id != sortie.organisateur.id
                            and date(sortie.dateLimiteInscription) > date()
                            and sortie.etat.libelle != "Annulée"
                            and sortie.etat.libelle != "En Cours"
                        %}
                                <a href="{{ path('sortie_desistement', {id: sortie.id}) }}"><i class="fas fa-user-times iconDesistement"></i> <span class="alignementBoutons">Se désister</span></a>
                        {% endif %}
                            <a href="{{url('sortie_afficher', {"id": sortie.id }) }}"> <i class="fas fa-plus-square iconInfos"></i> <span class="alignementBoutons">Plus d'infos</span></a>
                    </div>
                    <div class="btnOrganisateur">
                        {% if app.user.id == sortie.organisateur.id
                            and sortie.etat.libelle == "Créée"
                        %}
                            <a class="lienOrganisateur" href="{{url('sortie_edit', {"id": sortie.id }) }}">Modifier</a>
                            <a class="lienOrganisateur" href="{{url('sortie_publier', {"id": sortie.id }) }}">Publier</a>
                        {% endif %}
                        {% if sortie.etat.libelle != "Annulée"
                            and sortie.etat.libelle != "Passée"
                            and sortie.etat.libelle != "En Cours"
                            and app.user.id == sortie.organisateur.id
                        %}
                            <a class="lienOrganisateur" href="{{url('sortie_annuler', {"id": sortie.id }) }}">Annuler</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <br>
    <a id="btnAjouterSortie" href="{{ path('sortie_organiser') }}">Organiser une sortie</a>
{% endblock main %}