<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sortir.com{% endblock title %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
<div id="container">
    <header>
        <div id="logo">
            <a class="site-title" href="{{ url('default_home') }}" title="Bucket-List | Home">
                <img id="imglogo" src="{{ asset('img/logoSortir.png') }}" alt="Bucket-List">
            </a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#">Ville</a></li>
                <li><a href="#">Campus</a></li>
                <li><a href="#">Accueil</a></li>
                {% if app.user %}
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
                {% if not app.user %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>


        <div id="wrapper">
            <form id="form1">
                <input type="checkbox" name="burger" id="burger"/>
                <label for="burger" id="menu-burger">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </label>

                <div id="contenu">
                    <nav id="menuResp">
                        <ul>
                            <li><a href="#">Ville</a></li>
                            <li><a href="#">Campus</a></li>
                            <li><a href="#">Accueil</a></li>
                            {% if app.user %}
                                <li><a href="#">Mon profil</a></li>
                                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% endif %}
                            {% if not app.user %}
                                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </form>
        </div>


        </header>

    {% block main %}{% endblock main %}
    <footer>
        <p>© {{ "now"|date("Y") }} Sortir.com</p>
    </footer>
</div>

{% block javascripts %}{% endblock javascripts %}
</body>
</html>